{{ partial "header" . }}

<img src="assets/21stAmendmentBrewery-Logo.png">

<div class="disclaimer">
  <h4>To our 21A Employee</h4>

  <p>The 21st Amendment Brewery 2018-2019 Handbook is now available to you online!  We are very excited to have this online version for your convenience. This handbook is considered available only to active 21st Amendment employees.  You will find the same information as the paper version only now you can access all the information online.  You can quickly find information on policies, benefits and other important employee-related information.  Still have questions?  Please visit the 21A HR department and we can help clarify all policies for you.
Enjoy!</p>
</div>

<h2>21A Employee Online Handbook Version 1.3</h2>

<a href="21A-Handbook-v1.4.pdf"><img src="assets/21A-Handbook-Cover.png"></a><br>
<a href="21A-Handbook-v1.4.pdf" class="button">View the employee handbook</a>

{{ partial "footer" . }}
